---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

import mk2 from '@public/Bilder/mk2.jpg';
import challenger from '@public/Bilder/challenger.jpg'
import cadgif1 from '@public/Bilder/cadgif1.gif'
import AE86 from '@public/Bilder/AE86.gif'
import focus from '@public/Bilder/focus.jpg'
---

<Layout title="Personligt Brev">
  <main>
    <h1 class="text-gradient title">Personal letter</h1>
    <!-- Border Box for Personal Letter Content -->
    <div class="box">
      <p>
        Hi my name is Oscar! I have a big intrest in cars, music, image & 3D design.
      </p>

      <div class="image-cont-1">
        <Image src={mk2} alt="mk2" class="images-1" />
        <Image src={challenger} alt="challanger" class="images-1 image-right" />
        <Image src={cadgif1} alt="cadgif1" class="cadgif1" />
      </div>
      
      <p> I'm a 22 year old student with a lot of diffrent intrests. 
        One of them leads into another. <br>
         It is because of cars i found my intrest for photoshop and 3D design.
         These two intrest are something that works very well together and
        the different things you can create thrugh CAD and design trough photoshop 
        has made me found the interest for enginering.
        Ive started my university degree as a mechnical enginer and got offered a place in TE4 as a 
        mid way degree between a collage degree and a university degree in it and software design. 
      </p>
    
      <div class="p2">
      <Image src={AE86} alt="AE86" class="AE86"/>
      <p class="p1">
        Ive been using photoshop as a hobby for 6+ years and I love using it! <br>
        I think its a fun and usefull tool for anything that you want to design or make changes too.<br> 
      </p>
    </div>
    <div class="content3">
      <Image src={focus} alt="focus" class="focus"/>
      <p>
        Ever since i was a little kid ive always loved cars



      </p>
    </div>
      </div>
        
   

    <!-- Centered Navbar at the top -->
    <nav class="navbar">
      <div class="navbar-container">
        <!-- Navbar Buttons with Custom Styling -->
        <a href="/" class="navbar-link home-link">Home</a> <!-- Link to index.astro -->
        <a href="/cv" class="navbar-link projects-link">CV</a>
        <a href="/personligt-brev" class="navbar-link contact-link">Personal letter </a>
      </div>
    </nav>
  </main>

</Layout>
